* {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(46, 46, 46);
}

body {
  background-color: rgb(255, 255, 255);
  margin: 25px auto;
  width: 50%;
  padding: 25px;
  border-radius: 25px;
  text-align: center;
}

body p {
  margin: 10px;
}

h1 {
  color: darkred;
  margin-bottom: 10px;
}

#graph-canvas {
  border: 1px solid grey;
  width: 72%;
}

#x-input,
#y-input {
  width: 85px;
}

button {
  display: inline;
  background-color: burlywood;
  color: black;
  padding: 3px;
  border: 1px solid black;
  cursor: pointer;
  margin-bottom: 10px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  background-color: rgb(140, 210, 245);
}

#graph-table {
  overflow-x: auto;
}

td {
  background-color: rgb(194, 220, 243);
  border: 1px solid gray;
  padding: 1.5px;
}
