* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #2e2e2e;
}

body {
  background-color: #ffffff;
  margin: 25px auto;
  width: 50%;
  padding: 25px;
  border-radius: 25px;
  text-align: center;
}

body p {
  margin: 10px;
}

h1 {
  color: #8b0000;
  margin-bottom: 10px;
}

#graph-canvas {
  border: 1px solid #808080;
  width: 70%;
}

#x-input,
#y-input {
  width: 85px;
}

button {
  display: inline;
  background-color: #deb887;
  color: #000000;
  padding: 3px;
  border: 1px solid #000000;
  cursor: pointer;
  margin-bottom: 10px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #808080;
  background-color: #8cd2f5;
}

#graph-table {
  overflow-x: auto;
}

td {
  background-color: #c2dcf3;
  border: 1px solid #808080;
  padding: 1.5px;
}
